*.DS_Store
anonymous/*
apache/*
cgi-bin/*
contrib/*
FileZillaFTP/*
htdocs-backup/*
img/*
install/*
licenses/*
locale/*
mailoutput/*
mailtodisk/*
MercuryMail/*
mysql/*
perl/*
php/*
phpMyAdmin/*
sendmail/*
src/*
tmp/*
tomcat/*
webalizer/*
webdav/*
*.bat
*.exe
RELEASENOTES
*.txt
!htdocs/robots.txt
*.ini
*.dat
*.log
*.stl
