*.DS_Store
anonymous/*
apache/*
cgi-bin/*
contrib/*
FileZillaFTP/*
htdocs-backup/*
img/*
install/*
licenses/*
locale/*
mailoutput/*
mailtodisk/*
MercuryMail/*
phpmyadmin/*
mysql/*
perl/*
php/*
phpMyAdmin/*
sendmail/*
src/*
tmp/*
tomcat/*
webalizer/*
webdav/*
*.bat
*.exe
RELEASENOTES
*.txt
!htdocs/robots.txt
*.ini
*.dat
*.log
*.stl
htdocs/Tu0xYNqK1hdFxmAMsjeX46rV482ANKij/
apache2/*
bin/*
build/*
docs/*
error/*
etc/*
icons/*
include/*
info/*
lib/*
lib64/*
libexec/*
logs/*
man/*
manual/*
modules/*
pear/*
proftpd/*
sbin/*
share/*
temp/*
var/*
ctlscript.sh
lampp
*.run
README-wsrep
RELEASENOTES
THIRDPARTY
uninstall
xampp
*.swp
htdocs/extras/*
dns.php
